<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редакор изображения</title>
</head>
<body>
<form action="">
    <div>
        <input type="radio" name="" id="contactChoice1" value="">
        <label  for="contactChoice1">Серый фильтр</label>
    </div>
    <div>
        <input type="radio" name="" id="contactChoice2" value="">
        <label  for="contactChoice2">Серый фильтр</label>
    </div>
    <div>
        <input type="radio" name="contact" id="contactChoice3" value="">
        <label  for="contactChoice3">Серый фильтр</label>
    </div>
</form>
<div>
    <button type="button" id="rotate">Вращать</button>
</div>
</body>
</html>